parameters:
    paths:
        - src
    level: max
    ignoreErrors:
        - '#Access to an undefined property DecodeLabs\\Collections\\Collection::\$items#'
        - '#but returns DecodeLabs\\Collections\\Collection#'
